<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <style>
        .navbar-nav .nav-item .nav-link {
            padding-right: 1rem;
            padding-left: 1rem;
        }
        .dropdown-menu a {
            display: block;
            padding: 0.5rem 1.5rem;
            clear: both;
            font-weight: 400;
            color: #212529;
            text-align: inherit;
            white-space: nowrap;
            background: 0 0;
            border: 0;
        }
        .bg-light-creme {
            background-color: #FAF0E6 !important;
        }
        .bg-peach {
            background-color: #FFEFD5 !important;
        }
        .bg-footer {
            background-color: #FFEFD5 !important;
        }
        .text-black {
            color: black !important;
        }
        .navbar-light .navbar-nav .nav-link {
            color: #333;
        }
        .content-wrapper {
            min-height: calc(100vh - 60px - 100px); /* Adjust based on navbar and footer height */
        }
        footer {
            height: 100px; /* Adjust based on footer height */
        }
    </style>
    {% block head %}
    {% endblock %}
</head>
<body class="bg-light-creme text-black">
    <nav class="navbar navbar-expand-lg bg-peach navbar-light fixed-top">
        <a class="navbar-brand" href="{{ url_for('home_page') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" style="height: 50px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="womenDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Femei
                    </a>
                    <div class="dropdown-menu" aria-labelledby="womenDropdown">
                        <a class="dropdown-item" href="{{ url_for('subcategory_page', category='women', subcategory='Rochii') }}">Rochii</a>
                        <a class="dropdown-item" href="{{ url_for('subcategory_page', category='women', subcategory='Bluze') }}">Bluze</a>
                        <a class="dropdown-item" href="{{ url_for('subcategory_page', category='women', subcategory='Pantaloni') }}">Pantaloni</a>
                        <a class="dropdown-item" href="{{ url_for('subcategory_page', category='women', subcategory='Fuste') }}">Fuste</a>
                        <a class="dropdown-item" href="{{ url_for('subcategory_page', category='women', subcategory='Accesorii') }}">Accesorii</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="menDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bărbați
                    </a>
                    <div class="dropdown-menu" aria-labelledby="menDropdown">
                        <a class="dropdown-item" href="{{ url_for('subcategory_page', category='men', subcategory='Camasi') }}">Cămăși</a>
                        <a class="dropdown-item" href="{{ url_for('subcategory_page', category='men', subcategory='Tricouri') }}">Tricouri</a>
                        <a class="dropdown-item" href="{{ url_for('subcategory_page', category='men', subcategory='Pantaloni') }}">Pantaloni</a>
                        <a class="dropdown-item" href="{{ url_for('subcategory_page', category='men', subcategory='Accesorii') }}">Accesorii</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="kidsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Copii
                    </a>
                    <div class="dropdown-menu" aria-labelledby="kidsDropdown">
                        <a class="dropdown-item" href="{{ url_for('subcategory_page', category='kids', subcategory='Fete') }}">Fete</a>
                        <a class="dropdown-item" href="{{ url_for('subcategory_page', category='kids', subcategory='Baieti') }}">Băieți</a>
                        <a class="dropdown-item" href="{{ url_for('subcategory_page', category='kids', subcategory='Accesorii') }}">Accesorii</a>
                    </div>
                </li>
            </ul>
             <div class="navbar-center">
                <h1 class="navbar-brand">STYLEHEAVEN</h1>
            </div>
            <ul class="navbar-nav">
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('favorite_page') }}"><i class="fas fa-heart"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('shopping_cart_page') }}"><i class="fas fa-shopping-cart"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">{{ current_user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout_page') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login_page') }}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container mt-5 pt-5">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="alert alert-dismissible fade show mt-4">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endwith %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer class="bg-peach text-black py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Contact Us</h5>
                    <p>Email: <a href="mailto:StyleHsupport@yahoo.com">StyleHsupport@yahoo.com</a></p>
                    <p>Phone: 0731141242</p>
                </div>
                <div class="col-md-4">
                    <h5>Visit Us</h5>
                    <p>Address: Strada Licentei nr 24 Sector 6 Bucuresti</p>
                </div>
                <div class="col-md-4">
                    <h5>Subscribe to our Newsletter</h5>
                    <form action="{{ url_for('subscribe_newsletter') }}" method="POST">
                        <div class="input-group">
                            <input type="email" name="email" class="form-control" placeholder="Enter your email" required>
                            <div class="input-group-append">
                                <button class="btn btn-success" type="submit">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.dropdown').hover(function() {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
            }, function() {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();
            });
        });
    </script>
</body>
</html>
