{% extends 'base.html' %}
{% block title %}
    Shopping Cart
{% endblock %}
{% block content %}
    <div class="container mt-4">
        <h2>Shopping Cart</h2>
        <ul class="list-group">
            {% for cart_item in cart_items %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="media">
                        <img src="{{ url_for('static', filename='img/' ~ cart_item.item.image_filename) }}" class="mr-3" alt="{{ cart_item.item.name }}" style="width: 100px;">
                        <div class="media-body">
                            <h5 class="mt-0">{{ cart_item.item.name }}</h5>
                            <p>{{ cart_item.item.description }}</p>
                            <p><strong>Size:</strong> {{ cart_item.size }}</p>
                            <p><strong>Price:</strong> {{ cart_item.item.price }} Lei</p>
                        </div>
                    </div>
                    <form action="{{ url_for('remove_from_cart') }}" method="POST">
                        <input type="hidden" name="item_id" value="{{ cart_item.id }}">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('order_details') }}" class="btn btn-primary mt-4">Order Now</a>
    </div>
{% endblock %}
