{% extends 'base.html' %}
{% block title %}
Shopping Cart
{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Shopping Cart</h2>
    <div class="row">
        {% for item in cart_items %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="{{ url_for('static', filename='img/' + item.item.image_filename) }}" class="card-img-top img-fluid product-img" alt="{{ item.item.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ item.item.name }}</h5>
                    <p class="card-text">{{ item.item.description }}</p>
                    <p class="card-text"><strong>{{ item.item.price }} Lei</strong></p>
                    <p class="card-text"><strong>Size: {{ item.size }}</strong></p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <form action="{{ url_for('remove_from_cart', item_id=item.item.id) }}" method="post">
                                <button type="submit" class="btn btn-sm btn-outline-danger">Remove</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
